@model http5203_lab5_kylecheung.Models.Book

@{
    ViewData["Title"] = "Create Books";
}

<h1>Create Books</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bookTitle" class="control-label">Book Title:</label>
                <input asp-for="bookTitle" class="form-control" />
                <span asp-validation-for="bookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first" class="control-label">First name:</label>
                <input asp-for="first" class="form-control" />
                <span asp-validation-for="first" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="middle" class="control-label">Middle name:</label>
                <input asp-for="middle" class="form-control" />
                <span asp-validation-for="middle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="last" class="control-label">Last name:</label>
                <input asp-for="last" class="form-control" />
                <span asp-validation-for="last" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="authorTitle" class="control-label">Author Title:</label>
                <input asp-for="authorTitle" class="form-control" />
                <span asp-validation-for="authorTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

