/* General */
:root {
    --main-bg-color: #002855;
    --main-bg-accent-color: #FFFAFA;
    --contrast-color: #ccc;
    --button-press: #001845;
    --logo-color: #fff;
    --nav-hover-color: #0353A4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

/* 
https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.element-invisible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

html {
    background-color: var(--main-bg-color);
}

input[type=text],
input[type=email],
textarea {
    width: 60%;
    padding: 0.2em;
    border: 1px solid var(--contrast-color);
    border-radius: 4px;
}



input[type=submit] {
    width: 20%;
    padding: .2em;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: var(--button-press);
}

/* Layout */

.page-container {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: auto;
    background-color: var(--main-bg-accent-color);
    overflow: hidden;
    border-radius: 0.5em;
    clear: both;
}

#main {
    float: left;
    width: 67%;
    padding-right: 1em;
}

#aside {
    float: right;
    width: 33%;
    padding-left: 1em;
}

header {
    max-width: 1200px;
    margin: auto;
}

footer {
    clear: both;
}

p {
    line-height: 1.8rem;
    padding: 1rem 0;
}

/* Header */

nav li {
    padding: 0 1em;
    display: inline;
    font-size: 1.1em;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-bg-accent-color)
}

nav a:hover {
    color: var(--nav-hover-color);
}

nav {
    text-align: center;
    border: 1px solid var(--contrast-color);
    border-width: 1px 0 0 0;
    padding: 0.5rem;
}

.logo>a {
    text-decoration: none;
    font-size: 2.5em;
    letter-spacing: 0.35em;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Chilanka', cursive;
    text-transform: capitalize;
    color: var(--logo-color);
    text-transform: uppercase;
}

.logo {
    text-align: center;
}

/* main */

#content {
    width: 100%;
    position: relative;
}

.main-article-image {
    text-align: center;
    width: 100%;
}

.main-article-image img {
    max-width: 70%;
}

.blurb {
    font-weight: lighter;
}

/* main article list */
.list-container {
    padding-left: 1em;
}

.list-container>ul,
.list-container>ol {
    padding: 1em 3em;
    line-height: 1.5em;
}

/* comments */
#comments input,
label {
    display: block;
}

#comments label {
    padding-top: 1em;
}

#comments input[type=submit] {
    padding: .3em;
    margin-top: 1em;
    width: 30%;
    font-size: 1em;
}

/* Aside */

#aside-articles a {
    text-decoration: none;
    color: black;
}

.more-posts-image {
    width: 60px;
    float: left;
}

#aside-articles a {
    text-decoration: none;
}

#aside-articles ul {
    list-style: none;
}

#aside-articles ul li {
    clear: both;
}

#search {
    width: 100%;
    display: block;
    text-align: center;
}

#search-form label {
    display: block;
    padding-bottom: .2em;
}

#search-form {
    text-align: left;
    padding: 1em 0;
    display: inline-block;
}

form {
    width: 100%;
}

#aside-articles h3 {
    padding-bottom: .3em;
}

#aside-image {
    max-width: 100%;
}

#aside li {
    padding: 0.2em 0;
    border-top: 1px solid var(--contrast-color);
}

#aside a:hover {
    color: var(--main-bg-accent-color)
}

#aside li:hover {
    background-color: var(--main-bg-color);
}

#aside li:last-child {
    border-bottom: 1px solid var(--contrast-color);
}

footer {
    color: var(--main-bg-accent-color);
    text-align: center;
    ;
}