*::before, *::after, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #f5f5f5;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, #main-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    padding: 1em;
}

.nav-container {
    max-width: 1100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 2em;
    margin: auto;
}

#main-nav {
    list-style: none;
}

#main-nav a {
    text-decoration: none;
    color: #f5f5f5;
    position: relative;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.26);
    font-size: 1.25em;
}

#main-nav li {
    display: inline-block;
    padding: 0 1em;
    position: relative;
}

.logo {
    width: 45px;
}

.spacer {
    width: 45px;
}

header {
    background-color: #e63946;
}

.nav-item::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    left: 50%;
    background-color: #f5f5f5;
    transition: all 0.3s ease 0s;
}

.nav-item:hover:after, .active:after {
    width: 100%;
    left: 0;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);
}

.flex-container {
    display: flex;
    flex-flow: column;
}

#sec-1 {
    min-height: 90vh;
    display: flex;
    flex: 1 1 90vh;
    background-color: #e63946;
    z-index: 1;
}

.name-text {
    font-size: 4.5em;
    color: #f5f5f5;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.26);
}

.name-text::after {
    position: absolute;
    display: block;
    content: '';
    width: 75px;
    transform: translateX(-50%);
    left: 50%;
    height: 4px;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);
}

.banner {
    margin: auto;
}

#blurb {
    text-align: center;
    clear: both;
    padding: 1.25em;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.26);
    color: #f5f5f5;
}

#sec-2 {
    flex-direction: column;
    position: relative;
    background-color: #020413;
    display: flex;
    flex: 0 1 auto;
    z-index: 3;
    box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.26);
}

.bio-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    margin: auto;
}

.profile-img {
    width: 250px;
    clip-path: circle(120px at center);
}

.work-img {
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);
    margin: 1em;
}

#triangle-1 {
    box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.26);
    position: absolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 45px;
    height: 45px;
    background-color: #020413;
    z-index: -1;
}

#triangle-2 {
    bottom: -22.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);
    position: absolute;
    background-color: #f5f5f5;
    width: 45px;
    height: 45px;
    z-index: -1;
}

#sec-3 {
    position: relative;
    color: #0e1c36;
    background-color: #f5f5f5;
}

.work-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

#sec-4 {
    background-color: #1d3557;
    z-index: -5;
}

form {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #e63946;
}