<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
	<p>Apples vs Bananas<a href="https://cemc.uwaterloo.ca/contests/computing/2019/stage%201/juniorEF.pdf">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Apple 2 pointers: <label> <input v-model="apple_2">
		</div>
		<div class="formfield">
			<label>Apple 3 pointers: <label> <input v-model="apple_3">
		</div>
		<div class="formfield">
			<label>Banana 2 pointers: <label> <input v-model="banana_2">
		</div>
		<div class="formfield">
			<label>Banana 3 pointers: <label> <input v-model="banana_3">
		</div>
		<div id="result">
			<span>{{is_happy}}</span>
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			apple_2:0,
			apple_3:0,
			banana_2:0,
			banana_3:0,
		},
		computed:{
			apple_total:function(){
				return (this.apple_2 * 2) + 
				(this.apple_3 * 3);	
			},
			banana_total:function() {
				return (this.banana_2 * 2) + 
				(this.banana_3 * 3);
			},
			is_happy:function(){

				if (this.apple_total > this.banana_total) {
					return "Apple won"
				}

				if (this.apple_total < this.banana_total) {
					return "Banana won"
				}

				if (this.apple_total == this.banana_total) {
					return "Tied"
				}
	
			}
		}
	});
	
	</script>
	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>