/* General Styles */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    font-size: 16px;
    color: #202228;
    background-color: #fff;
}

h1, h2, h3, h4,h5,h6 {
    color: black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover,
a:focus {
    color: #19c17e;
}

.page-container {
    max-width: 1200px;
    margin: auto;
}

.black-btn {
    padding: .5em;
    background-color: #202228;
    color: #fff;
    text-decoration: none;
    border-radius: .5em;
}

.black-btn:hover,
.black-btn:focus {
    background-color: #19c17e;
    color: #fff;
}

.text-link {
    color: #397153;
}

.text-link:hover,
.text-link:focus {
    color: #01a765;
}

/* Header */

#header-container {
    width: 100%;
    background-color: black;
}

header ul {
    list-style: none;
}
header a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    vertical-align: text-top;
}

nav {
    padding: 1em 0 3.5em 0;
}

header li {
    display: inline-block;
    padding: .5em .5em;
    margin: 0 .5em;

}

#logo {
    float: left;
    padding-top:.25em;
}

#logo:hover {
    color: #fff;
}

#logo-accent {
    color: #01a765;
}

#main-nav {
    float: right;
}

#sign-in {
    background-color: #19c17e;
    border-radius: 0.5em;
}

#sign-in a {
    color: #202228;
}

#sign-in a:hover,
#sign-in a:focus {
    color: #fff;
}

/* MAIN */
#main {
    background-color: #fff;
}

#banner-container {
    position: relative;
    width: 100%;
}

#banner-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

h1 span {
    display: block;
}
#title-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 6.5em;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6em;
    line-height: 1.1em;
    text-shadow: 1px 1px 2px #202228;
}

/* Section 1 */

section h2 {
    text-align: center;
    color: #397153;
    padding-bottom: 1em;
}
.col-2 {
    width: 50%;
    padding: 2.5em 1em;
}

/* Left Col */
.left-col {
    float: left;
}

#potted-plant {
    width: 30%;
    float: left;
}

.col-2 ul {
    padding: 1em 0 0 2em;
    list-style: square;
    width: 70%;
    float: right;
}

/* Right Col */

.right-col {
    float: right;
}

#registration {
    text-align: center;
    padding-top: 3em;
}

/* Section 2 */

#section-2 {
    clear: both;
    text-align: center;
    background-color: #defef1;
    overflow: hidden;
    padding-bottom: 4em;
}

#section-2 h2 {
    color: #202228;
    padding: 2em;
}

.col-3 {
    float: left;
    width: 33%;
}

.col-3 h3 a{
    text-decoration: none;
    color: #397153;
}

.col-3 h3 a:hover,
.col-3 h3 a:focus {
    color: #01a765;
}

.col-3 h3 {
    padding-bottom: 1em;
}

.col-3 img {
    max-width: 100%;
}

.col-3 p {
    margin: 1em 0 2em 0;
}

/* Section 3 */

#section-3 {
    background-color:#01a765;
    padding: 3em 0 4em 0;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

#section-3 h2 {
    color: #202228;
}

.col-1 {
    width: 50%;
    margin: auto;
}

#interest-container {
    padding: .5em;
    width: 85%;
    position: relative;
    border: 1px solid #fff;
    margin: auto;
}

#interest-text {
    position: absolute;
    top: -0.75em;
    left: .75em;
    background-color: #01a765;
    z-index: 100;
}

.spacer {
    display: inline-block;
    width: 6.5em;
}

input[type="email"] {
    margin-bottom: 2em;
    margin-top: 2em;
    width: 65%;
    height: 2.3em;
    padding: .6em;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
}

input[type="email"]::placeholder {
    font-size: 1.5em;
    color: #6d6c6e;
}

label[for="email"] {
    padding-right: 0.7em;
    font-size: 1.2em;
}

input[type="submit"] {
    margin-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #202228;
    color: #fff;
    padding:.5em;
    border-radius: .7em;
    border: none;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover {
    color: #19c17e;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.subscription-button {
    display: inline-block;
    margin-top: 2em;
    padding: .5em;
    text-decoration: none;
    background-color: #202228;
    color: #fff;
    border-radius: 0.5em;
}

.subscription-button:hover {
    color: #19c17e;
}

/* Footer */

footer {
    background-color:  #202228;
}

.col-4 {
    width: 25%;
    float: left;
}

.col-4 ul {
    padding: 1.5em;
    list-style: none;
}

.col-4 a {
    text-decoration: none;
    color: #fff;
}

.col-4 a:hover,
.col-4 a:focus {
    color: #19c17e;
}

.top-link-footer {
    text-transform: uppercase;
    margin-bottom: 1em;
}

#copyright {
    border-top: 1px solid#01a765;
    clear: both;
    color: #fff;
    padding-bottom: .1em;
}